# Question 1

In [10]:


ages=[19,22,19,24,20,25,26,24,25,24]

print('sort list is : ', sorted(ages))

# Minimum age is.
print("Minimum Age is : ", min(ages))

# Maximum age.
print("Maximum Age is : ", max(ages))

# Appending Min age and Max age to the list
ages.append(min(ages))
print("Appending the Min: ", ages)

ages.append(max(ages)) 
print("Appending the Max: ", ages )

# Median of ages list
mid =len(ages)//2 #Finding the middle index and dividing by 2

sortedList=sorted(ages)
if len(ages) % 2: #checking if the list mid even
    print("Median : ", sortedList[mid]) 
else:
    print("Median : ", (sortedList[mid] + sortedList[mid +1]/2.0)) 

# Average of ages.

avg=sum(ages)/len(ages) #Sum of elements by number of elements
print("Average : ", avg) 

# Range of Functions 
# Max number - Min number.
print("Range = ", max(ages)-min(ages))

sort list is :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age is :  19
Maximum Age is :  26
Appending the Min:  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19]
Appending the Max:  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
Median :  36.0
Average :  22.75
Range =  7

# Question 2

In [1]:
dog = {}  # empty Dictionary

# Adding the keys of the dictionary
dog["Name"] = None
dog['color'] = None
dog['breed'] = None
dog['legs'] = None
dog['age'] = None
print(dog)

# Creating student dictionary
student = {
    'first_name': "Kaushik",
    'last_name': "Peesari ",
    'gender': "Male",
    'age': 21,
    'marital status': 'Single',
    'skills': ['communication', 'critical thinking'],
    'country': 'India',
    'city': 'Hyderabad',
    'address': 'Teachers colony',
}

# finding length 
print(len(student))



# Getting the type of skills
print(type(student['skills']))


# Adding another skill value and printing it.

student['skills'].append('Teamwork')
print(student['skills'])

# Getting the keys as list.

print() #new line
print(student.keys())
print() #new line

# Getting the values as list.

print(student.values())

{'Name': None, 'color': None, 'breed': None, 'legs': None, 'age': None}
9
<class 'list'>
['communication', 'critical thinking', 'Teamwork']

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

dict_values(['Kaushik', 'Peesari ', 'Male', 21, 'Single', ['communication', 'critical thinking', 'Teamwork'], 'India', 'Hyderabad', 'Teachers colony'])

# Question 3

In [11]:
# Creating a brother tuple

brothers=('Karthik','Manoj','Kamli','Charan')

#creating a Sister tuple
sisters=('Deepika','Anisha','Shaik','Vani')

#adding two tuples

siblings=brothers + sisters

#length of siblings tuple
print(len(siblings))
# Adding Parents names...

#converting the siblings tuple into a list.
sibList=list(siblings)
#parents List
parents=['Surya','vani']

# adding parents list to siblings list 
sibingList.extend(parents)


familymembers=tuple(siblingList)




print(familymembers)

8

('Karthik', 'Manoj', 'Kamli', 'Charan', 'Deepika', 'Anisha', 'Shaik', 'Vani', 'Surya', 'vani')

# Question 4

In [2]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26} 
B = {19, 22, 20, 25, 26, 24, 28, 27} 
age = [22, 19, 24, 25, 26, 24, 25, 24]  

#Length 
print('Length of it_companies: ', len(it_companies))

#adding an element to  a set
it_companies.add('Twitter')

#adding more IT companies
it_companies1 = {'Netflix','TCS','Accenture'}


#adding multi it companies to set it_companies 
new_it_companies=it_companies1.union(it_companies)

#remove an item from _it_companies

new_it_companies.remove('Netflix')

#printing the rest It_companies
print(new_it_companies)

# Join  A and B
joi=A.union(B)
print("Joined: ", joi)

#intersection
inter=A.intersection(B)
print("Intersection : ", inter)

# is subset.
print(A.issubset(B))

# is disjoint
print(A.isdisjoint(B)) 

# A join to B and B join A
print(A.union(B))

print(B.union(A))

# Symmetric Difference between A and B.
print('The symmetry between A and B is = ', A.symmetric_difference(B))

# Removing the sets...
new_it_companies.clear()
A.clear()
B.clear()


# converting Ages to set and finding the length. 
Ages=set(age)
print("length of Ages: ", len(Ages))

Length of it_companies:  7
{'Accenture', 'IBM', 'Oracle', 'Microsoft', 'Google', 'Amazon', 'Apple', 'Facebook', 'Twitter', 'TCS'}
Joined:  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection :  {19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
The symmetry between A and B is =  {27, 28}
length of Ages:  5

# Question 5

In [4]:
radius = 30

# Calculating Area of Circle.
_area_of_circle_= 3.14 * radius **2

print(_area_of_circle_)

# Calculating Circumference of Circle...

_circum_of_circle_= 2 * 3.14 * radius

print(_circum_of_circle_)

# Now Taking the radius from user and calculating the area...

radius1= int(input("Enter the radius: "))

area = 3.14 * radius1 * radius1

print(area)

2826.0
188.4
Enter the radius: 44
6079.04

# Question 6:

In [5]:
sentence="I am a teacher and I love to inspire and teach people"

# Finding the unique word length 
print(len(set(sentence.split())))

10

# Question 7

In [6]:
#  using tab sapce
print('Name \t Age \t Country City \n Asabeneh \t 250 \t Finland Helsinki')

Name 	 Age 	 Country City
 Asabeneh 	 250 	 Finland Helsinki

# Question 8

In [12]:
radius = 10

area = 3.14 * radius ** 2

#printing the output using string formatting...

print(f'The area of a circle with radius {radius} is {area} meters square.')

The area of a circle with radius 10 is 314.0 meters square.

# Question 9

In [8]:
# user input 
num=int(input('Enter the number of weights you want to enter in  lbs: '))

# empty list
weight_in_kgs=[]

# empty list 
weight_in_lbs=[]

# appending the inputs to a list
for i in range(num):
    weight_in_lb=int(input('enter weights in lbs: '))
    weight_in_lbs.append(weight_in_lb)
for j in weight_in_lbs:
    weight_in_kgs.append(j*0.45359)
print ('Weight in Kilograms = ', weight_in_kgs)

Enter the number of weights you want to enter in  lbs: 4
enter weights in lbs: 150
enter weights in lbs: 155
enter weights in lbs: 145
enter weights in lbs: 148
Weight in Kilograms =  [68.0385, 70.30645, 65.77055, 67.13132]

# Question 10

In [ ]:
# In Word Document...